.container{
	margin-top:100px;
	margin-left:10%;
	margin-right:10%;
	border-style:solid;
	border-width:1px;
	width:75%;
	height:100%
}

.taskContent{
	margin:50px;
}

#sidebar {
	width:25%;
	height:100%;
	border-right-style:solid;
	border-width:1px;
	float:left;
}

#kategoriContent {
	width:70%;
	height:100%;
	float:right;
}

.list {
	border-style:solid;
	border-width:2px;
	background-color:white;
}


.catButton {
   border-top: 1px solid #96d1f8;
   margin-bottom: 15px;
   width: 75%;
   border-radius: 8px;
   background: #65a9d7;
   padding: 5px 10px;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
   
.catButton:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
   
.catButton:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
   
#addTask{
	display:none;
}
#category_new_form{
	display:none;
	font-family:Georgia, serif;
	width:80%;
	margin-left:5%;
}

#addCategory{
	margin-top:40px;
}

.task {
	margin-bottom:15px;
	border-radius:10px;
	width:80%;
	border-top: 1px solid #96d1f8;
	background: #f5fc8f;
	padding: 5px;
	color: #ff005e;
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	vertical-align: middle;
   }
   
.taskName{
	font-size:20px;
	text-decoration:underline;
}

.taskClock{
	font-size:10px;
}

.taskDate{
	font-size:10px;
}

.taskTag{
	font-size:10px;
}